[Unit]
Description=nlsd firewall log aggregator daemon
After=multi-user.target

[Service]
WorkingDirectory=/home/nlsd/
User=nlsd
ExecStart=env VIRTUAL_ENV=/home/nlsd/ /home/nlsd/bin/python3 nlsd.py
Type=simple
Restart=always
RestartSec=3
RuntimeMaxSec=6h

[Install]
WantedBy=multi-user.target
